---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import { humanize } from "@/lib/utils/textConverter";

const { title = "", breadcrumb = true }: { title?: string; breadcrumb?: boolean } = Astro.props;
---

<section>
  <div class="container text-center">
    <div
      class="rounded-2xl bg-linear-to-b from-body to-light px-8 py-6 dark:from-darkmode-body dark:to-darkmode-light"
    >
      <h1 set:text={humanize(title)} />
      {breadcrumb && <Breadcrumbs className="mt-6" />}
    </div>
  </div>
</section>
