@import "tailwindcss";
@plugin "../tailwind-plugin/tw-bs-grid";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@import "./safe.css";
@import "./utilities.css";

@theme inline {
  /* Fonts */
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-primary);
}

@theme {
  /* Font Sizes */
  --text-base: 16px;
  --text-base-sm: 12.8px;
  --text-h6: 1.2rem;
  --text-h6-sm: 1.08rem;
  --text-h5: 1.44rem;
  --text-h5-sm: 1.296rem;
  --text-h4: 1.728rem;
  --text-h4-sm: 1.5552rem;
  --text-h3: 2.0736rem;
  --text-h3-sm: 1.86624rem;
  --text-h2: 2.48832rem;
  --text-h2-sm: 2.239488rem;
  --text-h1: 2.985984rem;
  --text-h1-sm: 2.6873856rem;

  /* Colors - Light Mode (Default) */
  --color-primary: #121212;
  --color-body: #fff;
  --color-border: #eaeaea;
  --color-light: #f6f6f6;
  --color-dark: #040404;
  --color-accent: #a388f5;
  --color-level-beginner: #22c55e;
  --color-level-intermediate: #eab308;
  --color-level-advanced: #ef4444;

  --color-text: #444444;
  --color-text-dark: #040404;
  --color-text-light: #717171;

  /* Colors - Dark Mode Definitions */
  --color-darkmode-primary: #fff;
  --color-darkmode-body: #1c1c1c;
  --color-darkmode-border: #3e3e3e;
  --color-darkmode-light: #222222;
  --color-darkmode-dark: #fff;
  --color-darkmode-accent: #a388f5;
  --color-darkmode-level-beginner: #4ade80;
  --color-darkmode-level-intermediate: #facc15;
  --color-darkmode-level-advanced: #f87171;

  --color-darkmode-text: #b4afb6;
  --color-darkmode-text-dark: #fff;
  --color-darkmode-text-light: #b4afb6;
}

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
  @import "./search.css";
}
