---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import Browse from "@/layouts/helpers/Browse";

const title = "Browse Moves & Concepts";
const meta_title = "Browse Salsa Moves and Concepts";
const description =
  "Explore our comprehensive library of salsa moves and concepts.";
---

<Base title={title} meta_title={meta_title} description={description}>
  <PageHeader title={title} />
  <section class="section">
    <div class="container">
      <Browse client:load />
    </div>
  </section>
</Base>
