---
import Base from "@/layouts/Base.astro";
import MovesBrowse from "@/layouts/helpers/MovesBrowse";

const title = "Browse Moves";
const meta_title = "Browse Salsa Moves";
const description =
  "Explore our comprehensive library of salsa moves, filtered by level, type, and difficulty.";
---

<Base title={title} meta_title={meta_title} description={description}>
  <section class="section pt-6">
    <div class="container">
      <MovesBrowse client:load />
    </div>
  </section>
</Base>
